%nav.navbar.navbar-inverse.navbar-fixed-top
 .container
  .navbar-header
   %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
    %span.sr-only Toggle navigation
    %span.icon-bar
    %span.icon-bar
    %span.icon-bar
   = link_to 'Ostaz', root_path, class: 'navbar-brand'
  .collapse.navbar-collapse
   %ul.nav.navbar-nav.navbar-brand= render 'layouts/navigation_links'
   %ul.nav.navbar-nav.navbar-right
    = form_tag root_path ,:method => :post ,:class =>"navbar-form navbar-left navbar-brand" do
     = autocomplete_field :search, "term", welcome_autocomplete_autocomplete_term_path , :class => "form-control col-lg-8" , :placeholder => "search for everything"

    %li.dropdown
     %a.dropdown-toggle{"data-toggle" => "dropdown" ,"href" => "#"}
      =if current_user != nil then current_user.email else "Guest" end
      %b.caret
     - if current_user !=nil
      %ul.dropdown-menu
       %li
        =link_to "View" ,user_show_path(current_user.id)
       %li
        =link_to "Sign Out" ,:destroy_user_session ,"method" => :delete
     - else
      %ul.dropdown-menu
       %li
        =link_to "Sign In" ,:new_user_session


