%nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Ostaz', root_path, class: 'navbar-brand'
    .collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-brand= render 'layouts/navigation_links'
      %ul.nav.navbar-nav.navbar-right.navbar-brand=if current_user != nil then link_to current_user.email , user_show_path(current_user.id) else link_to "Sign in" ,new_user_session_path end

